---
import MainLayout from '../layouts/MainLayout.astro';


const title = 'About Hayden Tomas - Website Developer';
const description = 'I am a front-end website developer based in Britain. I work with WordPress and Jamstack, helping businesses to thrive online.';
const Name = 'Hayden Tomas - Website Developer';
const image = '/images/open-graph.webp'; // Relative path to your OG image
import Button from '../components/Button.astro';
// Import the <Image /> component
import { Image } from "astro:assets"
// Import a reference to the image itself
import topImage from '../assets/heronew.png'; 
import otherImage from "../assets/settings.png"
import cassetteImage from "../assets/cassette.png"
import whatIdoImage from "../assets/coffee.png"
---

<MainLayout title={title} description={description} image={image}>
  <section class="hero grid py-8 mx-auto lg:gap-20 xl:gap-0 lg:py-16 lg:grid-cols-12">
    <div class="mr-auto lg:col-span-12">
      <Image
      loading="eager"
      src={whatIdoImage}
      widths={[240, 540, 720, 1024, whatIdoImage.width]}
      sizes={`(max-width: 360px) 24vw, (max-width: 720px) 48vw, (max-width: 1600px) 64vw, 100vw`} 
      alt="Hayden Tomas = Front end website developer"
      class="lg:float-end p-10"
    />
      <h1>About Hayden Tomas</h1>
      <p>My name is Hayden Tomas, I am a front-end website developer based in Prestwood, Great Missenden.</p>
      <p>I have been developing websites and apps professionally since 2011. I started building websites for fun much sooner than that. Those of you old enough to remember software such as Microsoft Frontpage or the very first version of Serif Web Plus will understand the fun and games we had back then!</p>
      <p>I remember writing my very first program in <a target="_blank" href="https://en.wikipedia.org/wiki/BASIC">Basic</a>, it was copied from the book that came with my beloved <a target="_blank" href="https://en.wikipedia.org/wiki/Commodore_Plus/4">Commodore Plus/4</a>. I was very new to programming at 9 years old so certainly wasn't going to design my own software.</p>
      <p>So anyway, fast forward to 2011, I got my first website development job, and I am still with that agency to this day.</p>
      <h2>What I do</h2>
      <p>My work keeps me busy developing websites in WordPress and DNN most of the time. I am very interested in learning more about <a target="_blank" href="https://jamstack.org/">Jamstack</a>, which is why I chose Astro to build this very website.</p>
      <p>There is nothing you can't build with Astro. Static sites now can compete with dynamic websites built in CMS systems such as WordPress, you can even create E-commerce solutions with static site generators.</p>
      <h2>My Skills</h2>
      <p>Now I do need to be honest about my skills. JavaScript is not my strong point, however I am learning!</p>
     
        <p>Part of the reason why I wanted to build my personal site in AstroJS is because it would force me to learn JavaScript.</p>
       

    </div>

  </section>













   
   
    
   
   
    <hr class=" pt-10"/>
    
 
  
 <div class="grid lg:grid-cols-2 lg:gap-28 py-5 lg:py-24">
   <div class="columns">
     <Image loading="eager" src={cassetteImage}
   widths={[240, 540, 720, otherImage.width]}
   sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${otherImage.width}px`}
   alt="Hayden Tomas = Front end website developer" class=""/>
   </div>
 <div class="column">   <h2>What I use for my job</h2><ul>
   <li><strong>HTML</strong> (obviously!)</li>
   <li><strong>CSS and Sass</strong> (love that we now have native nesting!)</li>
   <li><strong>Tailwind</strong> (This is my first site using Tailwind)</li>
   <li><strong>JavaScript</strong> (It's a work in progress!)</li>
   <li><strong>WordPress</strong> (Love it, Hate it - I prefer to build classic themes with ACF and PineGrow over pagebuilders)</li>
   <li><strong>DNN</strong> (DotNetNuke) - Spent more than 10 years creating themes and skins. Recently discovered 2SXC. It's like advanced custom fields for DNN, sort of!</li>
  </ul>
  </div>
 
 
 </div>
 <hr>
 <div class="grid lg:grid-cols-2 lg:gap-28 lg:py-24">
 
 <div class="column"><h2>Other things to note:</h2>
   <ul>
    <li><strong>I use Git</strong> to a novice level, enough to get my stuff online, I can push, pull, merge etc.</li>
    <li><strong>I am comfortable with the terminal</strong> on both Mac and PC.</li>
    <li><strong>I am comfortable working on servers</strong> and happy to get my hands dirty, even if I do not know what I am doing. <strong>Google is my friend!</strong></li>
    <li><strong>I am a course junkie</strong> and proud of it! Currently working through Mosh's courses for software development and Cantrill's courses for AWS</li>
   </ul></div>
   <div class="column">      <Image loading="eager" src={otherImage}
     widths={[240, 540, 720, otherImage.width]}
     sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${otherImage.width}px`}
     alt="Hayden Tomas = Front end website developer" class=""/></div>
 
 </div>
 <div class="mb-10 not-prose"><p>If you are interested in working with me or hiring me, get in touch! I am reachable through the contact form and will answer you within a day.</p>
 <Button aria="Contact me" href="/contact">Contact me</Button></div>
 
	



</MainLayout>