---

import MainLayout from '../layouts/MainLayout.astro';
import { getCollection } from 'astro:content';
import { Picture } from 'astro:assets';
import Button from '../components/Button.astro';
import BlogButton from '../components/BlogButton.astro';
import ProjectButton from '../components/ProjectButton.astro';
import TestimonialTabs from '../components/TestimonialTabs.astro';
import Icon from '../components/Icon.astro';

const title = 'Hayden Tomas - Website Developer';
const description = 'A UK Based front-end developer who focuses on building fast, secure websites that are accessible to all.';
const Name = 'Hayden Tomas - Website Developer';
const image = '/images/open-graph.webp'; // Relative path to your OG image

// Define a type for the individual post item (adjusted)
type PostItem = {
    data: {
        title: string;
        subTitle: string;
        description: string;
        image: any; // Use a generic type for the image property
        imageAlt: string;
        pubDate?: string; // Make pubDate optional
        icons?: string[]; // Add the icons property here
        whatwedid?: string[]; // Add the icons property here
    };
    slug: string;
};

// Fetch the latest 3 posts (replace 'posts' with your actual collection name if different)
const posts = await getCollection('posts', ({ data }) => data.draft !== true);
posts.sort((a, b) => {
    const dateA = a.data.pubDate ? new Date(a.data.pubDate) : new Date(0);
    const dateB = b.data.pubDate ? new Date(b.data.pubDate) : new Date(0);
    return dateB.getTime() - dateA.getTime();
});
const latestPosts = posts.slice(0, 3) as unknown as PostItem[]; // Type assertion








// Fetch the latest 3 posts (replace 'posts' with your actual collection name if different)
const projects = await getCollection('projectstagged', ({ data }) => data.draft !== true);
projects.sort((a, b) => {
    const dateA = a.data.pubDate ? new Date(a.data.pubDate) : new Date(0);
    const dateB = b.data.pubDate ? new Date(b.data.pubDate) : new Date(0);
    return dateB.getTime() - dateA.getTime();
});
const latestProjects = projects.slice(0, 2) as unknown as PostItem[]; // Type assertion






// Import the <Image /> component
import { Image } from "astro:assets"
// Import a reference to the image itself
import whatIdoImage from "../assets/face-done.png"
import question from "../assets/contact.png"




---
<MainLayout title={title} description={description} image={image}>




 
    <section class="hero grid py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12">
      <div class="mr-auto place-self-centere lg:col-span-7">
        <p>Website Design services in Buckinhamshire, UK</p>
        <h1>Attract More Local Customers With a Website That Works</h1>
        <p class="max-w-2xl text-xl">
          Generate leads, boost sales, and grow your business online. I design high-performing websites for businesses in High Wycombe and surrounding areas.
        </p>
        
        <h3 class="max-w-2xl mb-6 lg:mb-8 md:text-lg lg:text-2xl dark:text-white">
          Do you have a project in mind?
        </h3>
        <span class="inline-flex items-center justify-center pr-5 py-3 mr-3 text-base font-medium text-center rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900 dark:text-white">
          Get started
          <svg class="w-5 h-5 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
          </svg>
        </span>
        <Button href="/contact" aria="Contact Hayden to Start your project" href="/contact">Contact Hayden</Button>
      </div>
      <div class="hidden lg:mt-0 lg:col-span-5 lg:grid">
        <Image
          loading="eager"
          src={whatIdoImage}
          widths={[240, 540, 720, 1024, whatIdoImage.width]}
          sizes={`(max-width: 360px) 24vw, (max-width: 720px) 48vw, (max-width: 1600px) 64vw, 100vw`} 
          alt="Hayden Tomas = Front end website developer"
          class=""
        />
      </div>
    </section>
 

    
    <section class="bg-slate-950 shadow-lg mt-20 mb-40 rounded-3xl p-10">
      <div class="relative pt-10 pb-32 mx-auto">
          <svg class="relative z-10 w-16 mb-12 text-teal-400 transform opacity-100 fill-current sm:w-20 -rotate-0 rotate rotate-3" data-primary="teal-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 46"><defs/><g  fill-rule="nonzero"><path d="M46.651 2.666c1.892-.812 1.06-1.401-1.337-1.81A4.827 4.827 0 0044.323 0a3.914 3.914 0 00-.614.64C34.376-.395 11.639.36 8.676 1.976 6.99 1.437 1.364 9.542.344 13.552c-.436.1-.436.632-.12 1.487a.84.84 0 00.1.28v-.05a2.8 2.8 0 00.247.668h.06c2.814 5.749 14.356 19.796 15 20.673l-.149-.158c2.418 2.587 3.963 5.547 6.291 8.17 2.626 2.213 3.478 1.437 3.399-.065 2.784-1.171 3.289-3.73 4.775-5.655 5.608-7.904 14.742-14.651 19.498-22.763a2.347 2.347 0 00-.09-.575c1.725-2.429-.296-9.018-2.704-12.898zM38.25 24.093c-4.38 5.863-12.355 11.432-13.693 18.15-.33-.903-.903-1.75-1.684-2.493C15.987 31.616 10.4 22.828 3.088 14.931c3.101-1.997 3.636-6.021 5.469-8.615l-.09.187.199-.41-.06.13.08-.151c.31-1.051.463-2.123.455-3.198.876.312 1.796.553 2.745.719 10.333-.633 20.805-.144 31.129-.417.198 1.71 1.387 3.514 1.982 5.094 0-.057 0-.122-.08-.18 1.11 2.243.803 4.937 2.616 6.92-2.953 1.337-8.342 8.048-9.283 9.083zM7.5 14.505v-.01.01z"/><path d="M9.567 12.925c-.022.243.175.468.486.556 0 .065.05.13.08.094l.139-.05h.069c-1.015.233-1.858.754-2.341 1.445.908.243 1.84.436 2.787.578.208.5.484.985.824 1.445v.094-.036c.387.607.763 1.214 1.16 1.814v-.072c.516.816.992 1.64 1.548 2.457.555.817 1.13 1.9 1.736 2.782a.241.241 0 01-.05-.08c1.587 2.169 2.599 4.59 4.444 6.635 3.482 2.002-.536-3.874-1.2-4.777-1.101-1.662-2.232-3.324-3.294-5-.892-1.446-1.845-2.892-2.787-4.337-.149-.354-.298-.65-.446-.925 2.975-.152 5.951-.455 8.927-.513 3.849-.145 7.737 0 11.606 0-.466 1.604-.526 4.025-.992 4.85-.387 3.403-3.968 7.096-2.46 10.37.605-.477 1.029-1.06 1.23-1.692 1.21-4.43 3.918-8.99 3.75-13.535 2.579.03 5.159-.045 7.727-.224 3.65-.853 3.134-2.32-.546-2.349h.218c-2.55.05-5.098.058-7.648.05a27.367 27.367 0 00-3.095-5.181.511.511 0 01-.089-.13c-1.408 1.257.308 3.714 1.597 5.304-4.85 0-9.7 0-14.551.217h.218c-2.113.333-5.168.116-7.53.564.165-.11.255-.265.249-.427a.376.376 0 000-.151c2.48-2.212 7.241-8.166 3.115-6.367l-4.88 6.59zm3.68 3.526a.19.19 0 010 .065.285.285 0 010-.08v.015zM11.5 17.505v-.01z"/><path d="M14.499 21.55v-.1a.54.54 0 010 .1zM41.874 10c.462-1.423-.366-2.884-2.197-3.876A.87.87 0 0139.522 6c-1.373.757.287 2.644 1.266 3.49.303.209.671.382 1.086.51zM40.5 9.505v-.01z"/></g></svg>
  
          <div class="relative">
              <h3 class=" mb-0 text-3xl font-bold leading-tight text-left text-white md:text-6xl lg:text-3xl xl:text-5xl">Is Your Website a Lead Magnet or a Lead Miss?</h3>
              <div class="flex flex-col mt-10 sm:flex-row sm:items-center">
                  <p class="mb-0 text-xl font-normal text-left text-white" data-primary="yellow-400">Don't let your website be a missed opportunity</p>
                  <div class="flex mt-2 space-x-1 sm:mt-1 sm:ml-3">
                      <div class="w-10 h-2 bg-teal-500 rounded-full opacity-100" data-primary="yellow-400"></div>
                      <div class="w-8 h-2 bg-teal-500 rounded-full opacity-75" data-primary="yellow-400"></div>
                      <div class="w-4 h-2 bg-teal-500 rounded-full opacity-50" data-primary="yellow-400"></div>
                      <div class="w-3 h-2 bg-teal-500 rounded-full opacity-25" data-primary="yellow-400"></div>
                      <div class="w-2 h-2 bg-teal-500 rounded-full opacity-10" data-primary="yellow-400"></div>
                      <div class="w-2 h-2 bg-teal-500 rounded-full opacity-5" data-primary="yellow-400"></div>
                  </div>
              </div>
              <p class="mt-5 text-white">Design isn't just skin-deep. Colors evoke emotions, button placement persuades, and words seal the deal.</p>
          <p class="text-white">A slow website is a lost sale. Speed is king. A sluggish site loses visitors and profits.</p>
          <p class="text-white">It is important to choose a developer who knows the difference between a pretty website and a profitable one. I build sites that not only look good but convert visitors to customers.</p>
            </div>
          <div class="grid grid-cols-1 mt-24 gap-14 lg:grid-cols-3">
              <div class="flex text-white">
                  <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 w-20 h-20 mr-8 text-teal-500 stroke-current" data-primary="yellow-400" viewBox="0 0 24 24" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M19 11v-2a2 2 0 0 0 -2 -2h-8a2 2 0 0 0 -2 2v8a2 2 0 0 0 2 2h2" /><path d="M13 13l9 3l-4 2l-2 4l-3 -9" /><line x1="3" y1="3" x2="3" y2="3.01" /><line x1="7" y1="3" x2="7" y2="3.01" /><line x1="11" y1="3" x2="11" y2="3.01" /><line x1="15" y1="3" x2="15" y2="3.01" /><line x1="3" y1="7" x2="3" y2="7.01" /><line x1="3" y1="11" x2="3" y2="11.01" /><line x1="3" y1="15" x2="3" y2="15.01" /></svg>
                  <div class="relative space-y-2">
                      <h4 class="text-2xl font-bold leading-relaxed">Perfectly coded, conversion-focused</h4>
                      <p class="text-lg text-gray-300">I don't use page builders or create spaghetti code. I build performant websites designed to convert leads to sales.
                  </div>
              </div>
  
              <div class="flex text-white">
                  <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 w-20 h-20 mr-8 text-teal-500 stroke-current" data-primary="yellow-400" viewBox="0 0 24 24" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 13.5v-7.5a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-6m-8 -10h16m-10 -6v11.5m-8 3.5h7m-3 -3l3 3l-3 3" /></svg>
                  <div class="relative space-y-2">
                      <h4 class="text-2xl font-bold leading-relaxed">Static builds, dynamically managed</h4>
                      <p class="text-lg text-gray-300">I build using Astro to build extremely fast websites, you can still manage your site just like any other CMS.
                  </div>
              </div>
  
              <div class="flex text-white">
                  <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 w-20 h-20 mr-8 text-teal-500 stroke-current" data-primary="yellow-400" viewBox="0 0 24 24" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M19 3h-4a2 2 0 0 0 -2 2v12a4 4 0 0 0 8 0v-12a2 2 0 0 0 -2 -2" /><path d="M13 7.35l-2 -2a2 2 0 0 0 -2.828 0l-2.828 2.828a2 2 0 0 0 0 2.828l9 9" /><path d="M7.3 13h-2.3a2 2 0 0 0 -2 2v4a2 2 0 0 0 2 2h12" /><line x1="17" y1="17" x2="17" y2="17.01" /></svg>
                  <div class="relative space-y-2">
                      <h4 class="text-2xl font-bold leading-relaxed">SEO baked in. Marketing Delivered</h4>
                      <p class="text-lg text-gray-300">I don't stop at handover. I can help you reach page 1 on Google and deliver a marketing strategy that works.
                  </div>
              </div>
          </div>
      </div>
  </section>
  




    <div class="grid grid-cols-12 gap-6">
        {latestProjects.map(({ data, slug }, index) => (
          <div class="relative col-span-12 mb-10 space-y-4">
            <div class="flex flex-col md:flex-row items-center ">
              {index % 2 === 0 ? (
                <>
                  <a href={`/project/${slug}`} class="relative block w-full h-full md:w-1/2">
                    <Picture formats={['avif', 'webp']} loading="lazy" src={data.image} alt={data.imageAlt} width="651" height="795" class="mb-10" loading="lazy"/>
                  </a>
                  <div class="flex flex-col justify-between p-4 md:w-1/2 lg:pl-8">
                    {/* Content section */}
                    
                      <h2 class="mb-4 text-4xl tracking-tight">{data.title}</h2>
                  
                    <p class="mb-3 text-m">{data.description}</p>
                    <ul class="mt-2 text-m mb-5"> 
          {data.whatwedid?.map((item) => (
            <li>{item}</li>
          ))}
        </ul>
                    <div class="flex gap-2 mb-5 icons">
                      {data.icons?.map(icon => <Icon name={icon} />)}
                    </div>
                  <div class="block">
                    <ProjectButton href={`/project/${slug}/`} aria={data.title}>View Project</ProjectButton>
                  </div>
                  </div>
                </>
              ) : (
                <>
                  <div class="flex flex-col justify-between p-4 md:w-1/2 lg:pr-8">
                  
                   
                      <h2 class="mb-4 text-4xl">{data.title}</h2>
                     
                    <p class="mb-3 text-m">{data.description}</p>
                    <ul class="mt-2 text-m mb-5"> 
          {data.whatwedid?.map((item) => (
            <li>{item}</li>
          ))}
        </ul>
                    <div class="flex gap-2 mb-5 icons">
                      {data.icons?.map(icon => <Icon name={icon} />)}
                    </div>
                  <div class="block">
                    <ProjectButton href={`/project/${slug}`} aria={data.title}>View Project</Button>
                  </div>
                  </div>
                  <a href={`/project/${slug}`} class="relative block w-full h-full md:w-1/2">
                    <Picture formats={['avif', 'webp']} loading="lazy" src={data.image} alt={data.imageAlt} width="651" height="795" class="mb-10" />
                  </a>
                </>
              )}
            </div>
          </div>
        ))}
      </div>

<TestimonialTabs></TestimonialTabs>


<section class="w-full py-8 sm:py-12 md:py-16">
    <div class="mx-auto">
        <div class="flex items-center justify-between w-full pb-5 mb-8 border-b border-gray-700 ">
         <div class="title flex items-center justify-center">
            <h2 class="text-3xl mb-0 font-bold dark:text-white ">Posts</h2>
         </div>
            <a href="/blog" class="flex items-center text-base font-semibold text-gray-900 dark:text-white group">
                <span>View More</span>
                <svg class="w-4 h-4 mt-0.5 ml-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
            </a>
        </div>
        <div class="grid grid-cols-12 gap-6">
            {latestPosts.map(({ data, slug }) => ( 
<div class="relative col-span-12 mb-10 space-y-4 md:col-span-6 lg:col-span-4">
<div class=" bg-white   rounded-2xl shadow-2xl dark:bg-gray-800 p-1 ">
    <a href={`/posts/${slug}/`} class="relative block w-full h-64 ">
                  
                  <Picture formats={['avif', 'webp']} loading="lazy" src={data.image} alt={data.imageAlt} height="200" width="300" class=" rounded-t-2xl shadow-lg object-cover object-center w-full h-full"/>
              </a>
    <div class="p-5">
        <a href={`/posts/${slug}`}>
            <h5 class="mb-2 text-2xl tracking-tight text-gray-900 dark:text-white">{data.title}</h5>
        </a>
        {data.pubDate && ( /* Conditionally display pubDate if it exists */
                        <p class="text-xs font-bold text-gray-900 dark:text-white uppercase">Published: {new Date(data.pubDate).toLocaleDateString()}</p>
                    )}
        <p class="mb-3 font-light  text-lg mb-5 dark:text-white">{data.description}</p>
   <BlogButton href={`/posts/${slug}/`}  aria={data.title}>Read blog post</BlogButton>
    </div>
</div>
</div>       
     ))}  
        </div>
    </div>
</section>

<section class="bg-white dark:bg-gray-900">
    <div
        class="gap-8 items-center py-8  mx-auto  xl:gap-16 md:grid md:grid-cols-2 sm:py-16">
       
      



            <Image
            loading="lazy"
            src={question}
            widths={[240, 540, 720, 1024, whatIdoImage.width]}
            sizes={`(max-width: 360px) 24vw, (max-width: 720px) 48vw, (max-width: 1600px) 64vw, 100vw`} 
            alt="Hayden Tomas = Front end website developer"
            class="w-full hidden dark:block"
          />
        <div class="mt-4 md:mt-0">
            <h2 class="mb-4 text-4xl text-gray-900 dark:text-white">Have a question?</h2>
            <p class="mb-6">If you have a question, wish to discuss your next project or hire me for a simple development task, then I am more than happy to help. Click the button below to get started. </p>
                <Button href="/contact"  aria="Contact me">Contact me</Button>
               
        </div>
    </div>
</section>   
</MainLayout>





<style>
    .icons {


    img {
        @apply bg-slate-800 border border-slate-500 rounded-sm p-[2px] w-8 shadow-sm;

    }
    }


    @media (max-width: 767px) {  /* Mobile-specific order reversal for all projects */
    .grid > div > div.flex > .flex-col:first-child {
      order: 2;  /* Reverse order of first flex item (content section) on mobile */
    }
  }
</style>