---

import MainLayout from '../layouts/MainLayout.astro';
import { getCollection } from 'astro:content';
import { Picture } from 'astro:assets';
const allPosts = await getCollection("posts");
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];

const title = 'Hayden Tomas - Website Developer';
const description = 'A UK Based front-end developer who focuses on building fast, secure websites that are accessible to all.';
const Name = 'Hayden Tomas - Website Developer';
const image = '/images/your-og-image.jpg'; // Relative path to your OG image

// Define a type for the individual post item (adjusted)
type PostItem = {
    data: {
        title: string;
        description: string;
        image: any; // Use a generic type for the image property
        imageAlt: string;
        pubDate?: string; // Make pubDate optional
    };
    slug: string;
};

// Fetch the latest 3 posts (replace 'posts' with your actual collection name if different)
const posts = await getCollection('posts', ({ data }) => data.draft !== true);
posts.sort((a, b) => {
    const dateA = a.data.pubDate ? new Date(a.data.pubDate) : new Date(0);
    const dateB = b.data.pubDate ? new Date(b.data.pubDate) : new Date(0);
    return dateB.getTime() - dateA.getTime();
});
const latestPosts = posts.slice(0, 3) as unknown as PostItem[]; // Type assertion


// Import the <Image /> component
import { Image } from "astro:assets"
// Import a reference to the image itself
import whatIdoImage from "../assets/phone-mockup.png"


import ServicesBlocks from '../components/ServicesBlocks.astro';
---
<MainLayout title={title} description={description} image={image}>
<main>

    <section class="">
        <div class="grid py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12">
            <div class="mr-auto place-self-center lg:col-span-7">
                <p class="  font-semibold">Hi, I'm Hayden</p>
                <h1>I design and develop secure, accessible and scalable websites</h1>
                <p class="max-w-2xl">I am passionate about building websites that are accessible to people of all abilities. My passion is creating websites that loading extremely quickly, are loved by Google and are visible to all.</p>
                <p class="max-w-2xl mb-6 font-semibold  lg:mb-8 md:text-lg lg:text-3xl dark:text-white">Do you have a project in mind? </p>
                <span class="inline-flex items-center justify-center pr-5 py-3 mr-3 text-base font-medium text-center  rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900 dark:text-white">
                    Get started
                    <svg class="w-5 h-5 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </span>
                <a href="#" class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-gray-900 border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800">
                    Speak to Hayden
                </a> 
            </div>
            <div class="hidden lg:mt-0 lg:col-span-5 lg:flex">
                
                <Image loading="eager" src={whatIdoImage}
                widths={[240, 540, 720, whatIdoImage.width]}
                sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${whatIdoImage.width}px`}
                alt="Hayden Tomas = Front end website developer" class=""
              />
            </div>                
        </div>
    </section>
    


  <ServicesBlocks />

  <!-- Block start -->
  <section>
    <div class="py-8 mx-auto  lg:py-16 ">
        <div class=" ">
            <h2>Why should you chose me for your next website project?</h2>
            
            <p>My experience isn't that important, I do have 10+ years of it so I do know a thing or 2 about this new fangled web stuff!</p>
            <p>But seriously, I am much more than just another website developer. I do not stop at the end of the project.</p>
            <p>I have been working at a marketing agency in High Wycombe since 2011. My role is varied. I design, develop and maintain websites on a daily basis. I also play a role in making sure that the websites I build are found by the right people.</p>
            <h2>I focus on Security, Accessibility and Scalability</h2>
            <p>I build secure websites and tyake great care in ensuring that webistes are safe and secure. I build in WordPress mostly and I do not use page builders. I also build in Astro, this website has been created using a mix of Astro, Flowbite and other wizardry.</p>
            <a href="#"
                class="inline-flex items-center font-medium text-primary-600 hover:text-primary-800 dark:text-primary-500 dark:hover:text-primary-700">
                Learn more
                <svg class="ml-1 w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                        clip-rule="evenodd"></path>
                </svg>
            </a>
        </div>
    </div>
</section>
<!-- Block end -->


     
   




<section class="w-full py-8 sm:py-12 md:py-16">
    <div class="mx-auto">
        <div class="flex items-center justify-between w-full pb-5 mb-8 border-b border-gray-200">
            <h2 class="text-3xl font-bold dark:text-white">Latest Posts</h2>
            <a href="/blog" class="flex items-center text-base font-semibold text-gray-900 dark:text-white group">
                <span>View More Posts</span>
                <svg class="w-4 h-4 mt-0.5 ml-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
            </a>
        </div>

        <div class="grid grid-cols-12 gap-6">



        
          
              
              
          



            {latestPosts.map(({ data, slug }) => ( 


<div class="relative col-span-12 mb-10 space-y-4 md:col-span-6 lg:col-span-4">


    <a href={`/posts/${slug}`} class="relative block w-full h-64 overflow-hidden rounded">
                  
                    <Picture formats={['avif', 'webp']} src={data.image} alt={data.imageAlt} height="200" width="300" class="object-cover object-center w-full h-full transition duration-500 ease-out transform scale-100 hover:scale-105"/>
                </a>
                {data.pubDate && ( /* Conditionally display pubDate if it exists */
                        <p class="text-xs font-bold text-gray-900 dark:text-white uppercase">Published: {new Date(data.pubDate).toLocaleDateString()}</p>
                    )}
             <a href="#_" class="block text-2xl font-medium leading-tight text-gray-700 dark:text-white hover:text-gray-900">{data.title}</a>


   
               
               
                
         




</div>

            
        ))}
 



            
        </div>


       

    
    </div>
</section>




















    

    </main>





    <h2>Get in touch</h2>
    <p class=" max-w-2xl text-center">Although I’m not currently looking for any new opportunities, my inbox is always open. Whether you have a question or just want to say hi, I'll try my best to get back to you!</p>
</MainLayout>